<% provide(:title, 'Login') %>

<div class="ui text container">
  <div class="ui center aligned grid">
    <div class="twelve wide column">
      <br><br>
      <h1 class="ui centered header">Log in to Gradeful</h1>
      <br><br>

      <% if flash[:error] %>
        <div class="ui error message"><%= flash[:error] %></div>
      <% end %>

      <%= form_for(:session, url: login_path, html: {class: 'ui form'} ) do |form| %>

        <div class="field">
          <label align="left">Email</label>
          <%= form.email_field :email %>
        </div>

        <div class="field">
          <label align="left">Password</label>
          <%= form.password_field :password%>
        </div>

        <%= form.submit "Log in", class: 'ui fluid huge blue button' %>

        <br>
        <a class="ui big fluid green button" href="/signup">
          Sign up here!
        </a>

      <% end %>
    </div>
  </div>
</div>