<% provide(:title, 'Sign Up') %>

<div class="ui text container">
  <div class="ui center aligned grid">
    <div class="twelve wide column">
      <br><br>
      <h1 class="ui centered header">Sign Up</h1>
      <br><br>
      <%= form_for(@user, html: {class: 'ui form'} ) do |form| %>

        <%= render 'shared/error_messages' %>

        <div class="field">
          <label align="left">Name</label>
          <%= form.text_field :name, class: 'ui input'%>
        </div>

        <div class="field">
          <label align="left">Email</label>
          <%= form.email_field :email %>
        </div>

        <div class="field">
          <label align="left">Password (min. 6 characters)</label>
          <%= form.password_field :password%>
        </div>

        <div class="field">
          <label align="left">Password Confirmation</label>
          <%= form.password_field :password_confirmation %>
        </div>

        <%= form.submit "Create my account", class: 'ui fluid huge green button' %>

      <% end %>
    </div>
  </div>
</div>